.float-ad {
  position: fixed;
  top: 390px;
  right: -60px;
  z-index: 1;
  @media(max-width: $screen-lg){
    top: 320px;
  }
  @media (max-width: $screen-mob) {
    display: none;
  }

  &__box {
    display: block;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .btn__main {
    display: table;
    width: 190px;
    height: 80px;
    white-space: normal;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    &__inside {
      display: table-cell;
      vertical-align: middle;
      padding: 0px 60px 0px 10px;
      font-size: 16px;
      line-height: normal;
    }
  }

  &__btn {
    display: table;
    width: 230px;
    height: 80px;
    border: 6px solid transparent;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: normal;
    margin-bottom: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);

    @media(max-width: $screen-lg){
      width: 190px;
      height: 74px;
      font-size: 16px;
    }

    &:hover, &:focus {
      text-decoration: none;
      color: white;
    }

    &__inside {
      border-radius: 10px;
      display: table-cell;
      vertical-align: middle;
      padding-right: 50px;
    }

    &--orange {
      border-color: #FFECDC;

      .float-ad__btn__inside {
        background-color: #e18c44;
      }
    }

    &--green {
      border-color: #D1EEE2;

      .float-ad__btn__inside {
        background-color: #408146;
      }
    }
  }
}