
.promo-banner {
  height: 418px;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    pointer-events: none;
    height: 100%;
  }

  &__text {
    position: absolute;
    left: 10%;
    top: 10%;
    //transform: translate(-50%, -50%);
    padding: 5px 20px 10px 20px;
    background: white;
  }

  &--main {
    margin-bottom: 10px;

    @media(max-width: $screen-lg){
      //margin-bottom: 50px;
    }
    @media(max-width: $screen-md){
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

.promo-article {
  display: table;
  width: 100%;
  background-color: #F0F0F0;
  position: relative;

  @media(max-width: $screen-sm){
    display: inline-block;
    vertical-align: top;
  }

  &:before, &:after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.35), 0 -3px 20px rgba(0, 0, 0, 0.35);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-radius: 100px / 10px;
  }

  &:after {
    right: 10px;
    left: auto;
    transform: skew(8deg) rotate(3deg);
    @media(max-width: $screen-lg){
      transform: none;
    }
  }

  &__img {
    display: table-cell;
    vertical-align: top;
    width: 528px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top !important;

    @media(max-width: $screen-sm){
      display: inline-block;
      width: 100%;
    }

    &:after {
      content: "";
      display: block;

      @media(max-width: $screen-sm){
        //margin-top: 75%;
        margin-top: 56.25%;
      }
    }
  }

  &__content {
    display: table-cell;
    vertical-align: top;
    padding: 27px 32px;

    @media(max-width: $screen-sm){
      padding: 25px 20px;
    }

    p {
      line-height: 28px;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    margin-bottom: 28px;
  }

  &--main {
    margin-bottom: 16px;

    @media(max-width: $screen-lg){
      margin-bottom: 50px;
    }
  }
}

.promo-nav {
  background-color: #F0F0F0;

  &__breadcrumb {
    list-style: none;
    padding: 0;
    padding-left: 21px;
    margin: 0;
    font-size: 18px;
    letter-spacing: 1.6px;
    @media(max-width: $screen-lg){
      letter-spacing: normal;
      font-size: 16px;
      padding-left: 0;
    }
    @media(max-width: $screen-mob){
      //display: none;
    }

    li {
      display: inline-block;
      vertical-align: top;
      margin-right: 42px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      color: #383838;

      &:hover, &:focus {
        color: #383838;
        text-decoration: none;
        opacity: 0.5;
      }
    }
  }

  &--header {
    padding: 7px 0px 8px 0px;
    height: 40px;
    @media(max-width: $screen-lg){
      height: 36px;
    }
    @media(max-width: $screen-mob){
      display: none;
    }
  }

  &--footer {
    padding-top: 11px;
    padding-bottom: 11px;
    height: 50px;
    background-color: #dedcdc;

    @media(max-width: $screen-lg){
      padding-top: 15px;
    }
    @media(max-width: $screen-mob){
      display: none;
    }

    .promo-nav {
      &__breadcrumb {
        a {
          color: #306F35;
        }
      }
    }
  }
}

.promo-icon {
  @include make-row;
  padding: 0;
  list-style: none;
  text-align: center;

  @media(max-width: $screen-lg){
    //margin-bottom: 40px;
  }

  li {
    @include make-xs-column(12);
    @include make-sm-column(8);
    @include make-md-column(4);
    padding-bottom: 13px;
    position: relative;

    @media(max-width: 500px){
      width: 100%;
      margin-bottom: 30px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      background-color: #E1E1E1;
      height: 128px;
    }

    &:last-child {
      border-right: none;

      @media(max-width: 500px){
        margin-bottom: 0;
      }

      &:after {
        display: none;
      }
    }

    &:nth-child(2n+2){
      &:after {
        //display: none;
      }
    }
  }

  &__img {
    display: table-cell;
    vertical-align: bottom;

    @media(max-width: 500px){
      display: inline-block;
      width: 100%;
      vertical-align: top;
      text-align: center;
    }

    &__wrapper {
      display: table;
      width: 100%;
      height: 72px;
      margin-bottom: -4px;

      @media(max-width: $screen-lg){
        margin-bottom: 5px;
      }

      @media(max-width: 500px){
        height: auto;
        display: inline-block;
        vertical-align: top;
        padding: 0;
      }
    }
  }

  &__text {
    display: table-cell;
    vertical-align: middle;

    @media(max-width: 500px){
      display: inline-block;
      width: 100%;
      vertical-align: top;
      text-align: center;
    }

    &__wrapper {
      display: table;
      width: 100%;
      height: 80px;
      padding: 0px 15px;

      @media(max-width: 500px){
        display: inline-block;
        vertical-align: top;
        height: auto;
        text-align: center;
      }
    }
  }

  p {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    color: #383838;

    @media(max-width: $screen-lg){
      font-size: 17px;
      line-height: normal;
    }
  }
}

.promo-service {
  //@include make-row;
  padding: 0px 25px;
  display: flex;

  @media(max-width: $screen-lg){
    padding-left: 0;
    padding-right: 0;
  }
  @media(max-width: $screen-sm){
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }

  &__title {
    margin-bottom: 31px;

    @media(max-width: $screen-sm){
      margin-bottom: 15px;
    }
  }

  &__item {
    flex: 1;

    @media(max-width: $screen-sm){
      margin-bottom: 40px;
    }

    &:first-child {
      flex: 0.91;

      .promo-service__list {
        margin-right: 33px;

        @media(max-width: 500px){
          margin-right: 0;
        }

        @media(max-width: $screen-sm){
          margin-right: 0;
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 1px;
          height: 95px;
          background-color: rgba(0, 0, 0, 0.1);

          @media(max-width: 500px){
            display: none;
          }
        }
      }
    }

    &:last-child {
      @media(max-width: 500px){
        margin-bottom: 0;
      }
    }
  }

  &__list {
    padding: 0;
    list-style: none;
    columns: 3;
    position: relative;

    @media(max-width: 500px){
      columns: 1;
    }

    li {
      padding-right: 10px;

      @media(max-width: 500px){
        padding-right: 0;
      }

      p {
        margin-bottom: 6px;
      }
    }

    a {
      letter-spacing: 1px;
      color: #000;
      font-size: 24px;
      text-decoration: none;
      border-bottom: 1px solid rgba(0,0,0,0.2);
      line-height: 24px;

      @media(max-width: $screen-lg){
        font-size: 20px;
        line-height: normal;
        letter-spacing: normal;
      }

      &:hover, &:focus {
        background-color: #e5e5e5;
        color: #408146;
        border-color: #408146;
      }
    }
  }

  &--main {
    margin-bottom: 21px;

    @media(max-width: $screen-lg){
      margin-bottom: 40px;
    }
  }
}

.promo-doctor {
  background-color: #fdfdfd;
  padding: 0px 0px 22px 0px;
  @media(max-width: $screen-lg){
    padding-top: 22px;
    //margin-bottom: 40px;
  }

  &__title {
    padding: 0px 24px;
    margin-bottom: 15px;
    @media(max-width: $screen-lg){
      margin-bottom: 20px;
    }
  }
}

.promo-profile {
  width: 243px !important;
  text-align: center;
  overflow: hidden;

  @media(max-width: 800px){
    width: 180px !important;
  }

  &__img {
    height: 240px;
    width: 100%;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__name {
    display: inline-block;
    font-size: 18px;
    color: #408146;
    text-decoration: none;
    margin-bottom: 5px;

    &:hover, &:focus {
      color: #408146;
      text-decoration: none;
    }
  }

  &__position {
    font-size: 14px;
    color: #383838;
  }

  &__description {
    padding: 5px 20px;
    line-height: normal;

    @media(max-width: 800px){
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.promo-news {
  position: relative;

  &__title {
    margin-bottom: 5px;

    @media(max-width: $screen-lg){
      margin-bottom: 20px;
    }
  }

  &__list {
    @include make-row;
    padding: 0;
    list-style: none;
    margin: 0px -15px;

    li {
      @include make-xs-column(24);
      @include make-sm-column(8);
      @include make-md-column(8);
      @include make-lg-column(8);
      position: relative;
      padding: 0px 15px;

      @media(max-width: $screen-md){
        margin-bottom: 50px;
      }

      &:before {
        content: '';
        position: absolute;
        top: 22px;
        right: 0;
        width: 1px;
        height: 170px;
        background-color: rgba(0, 0, 0, 0.5);
        @media(max-width: $screen-lg){
          top: 0px;
        }
        @media(max-width: $screen-sm){
          display: none;
        }
      }

      &:last-child {
        &:before {
          display: none;
        }
      }
    }
  }

  &__item {
    position: relative;

    &__title {
      font-size: 24px;
      font-family: $cambria-bold;
      margin-bottom: 14px;
      color: #383838;

      &:hover, &:focus {
        color: #383838;
      }

      @media(max-width: $screen-lg){
        font-size: 19px;
      }
    }

    &__description {
      p {
        font-size: 19px;
        line-height: 28px;
        color: #383838;

        @media(max-width: $screen-lg){
          font-size: 16px;
          line-height: 23px;
        }
      }
    }
  }

  &__all {
    position: absolute;
    top: 57px;
    right: 0px;
    font-size: 19px;

    @media(max-width: $screen-lg){
      font-size: 17px;
    }
    @media(max-width: $screen-sm){
      position: relative;
      top: 0px;
      margin-top: 20px;
    }

    a {
      color: #9fc0a2;
      font-family: $cambria-bold;
      position: relative;
      padding-right: 25px;

      &:after {
        content: '';
        position: absolute;
        top: -3px;
        right: 9px;
        width: 0;
        height: 0;
        border-style: solid;
        font-size: 0;
        background-color: transparent;
        border-width: 14px 0px 14px 7px;
        border-color: transparent transparent transparent #9fc0a2;
      }
    }
  }

  &--main {
    padding-top: 25px;
    margin-bottom: 24px;

    @media(max-width: $screen-lg){
      //margin-bottom: 50px;
    }
  }
}

.promo-discount {
  @include make-row;
  list-style: none;
  padding: 0;
  //margin: 0px -20px;

  li {
    @include make-xs-column(24);
    @include make-sm-column(12);
    @media(max-width: $screen-sm){
      margin-bottom: 20px;
    }
  }

  &__item {
    position: relative;
    //display: table;
    width: 100%;
    //height: 123px;

    @media(max-width: $screen-mob){
      height: auto;
      display: inline-block;
      vertical-align: top;
    }

    img {
      width: 100%;
    }

    &__img {
      display: table-cell;
      vertical-align: middle;
      background-position: center !important;
      background-size: cover !important;

      @media(max-width: $screen-mob){
        display: inline-block;
        width: 100%;
        vertical-align: top;
      }

      &:before {
        content: '';
        display: block;

        @media(max-width: $screen-mob){
          //margin-top: 56.25%;
          margin-top: 50%;
        }
      }
    }

    &__description {
      display: table-cell;
      vertical-align: middle;
      width: 245px;
      background-color: #f0f0f0;
      text-align: center;

      @media(max-width: $screen-mob){
        display: inline-block;
        width: 100%;
        vertical-align: top;
        padding: 20px 10px;
      }

      p {
        color: #e18c44;
        margin: 0;
      }

      .head-h2 {
        color: #408146;
      }
    }
  }
}

.promo-social {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    margin-right: 95px;

    @media(max-width: $screen-lg){
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__wrapper {
    padding: 5px 0px 0px 283px;

    @media(max-width: $screen-lg){
      padding-left: 0;
    }

    p {
      display: inline-block;
      vertical-align: middle;
      margin-right: 93px;
      margin-top: 5px;
      letter-spacing: 2px;

      @media(max-width: $screen-lg){
        letter-spacing: normal;
        margin-right: 20px;
      }
    }
  }
}

.promo-share {
  text-align: center;
  padding: 0;
  list-style: none;
  margin-bottom: 0;

  @media(max-width: $screen-mob){
    text-align: right;
  }

  li {
    margin-bottom: 7px;
    @media(max-width: $screen-mob){
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }

    &:last-child {
      @media(max-width: $screen-mob){
        margin-right: 0;
      }
    }
  }

  p {
    color: #383838;
  }

  &--footer {
    display: inline-block;
    vertical-align: top;
    //margin-left: 84px;
    margin-top: -10px;
    float: left;

    @media(max-width: $screen-lg){
      margin-top: 0;
      margin-left: 2%;
    }
    @media(max-width: $screen-lg){
      margin-left: 0;
    }
    @media(max-width: $screen-mob){
      width: 100%;
    }
    @media(max-width: 650px){
      text-align: left;
    }
  }
}