.bootstrap-select {
  width: auto;
  border: none;

  .dropdown-toggle {
    padding: 7px 55px 6px 12px;
    font-size: 16px;
    border-radius: 0px;
    border: 1px solid rgba(151, 151, 151, 0.5) !important;
    //color: #bfbfbf !important;
    color: black !important;

    &:hover {
      background-color: white;
      //color: #bfbfbf !important;
      color: black !important;
    }

    &:focus {
      outline: 0px auto -webkit-focus-ring-color !important;
      background-color: white;
    }

    &[aria-expanded="false"] {

    }

    .bs-caret {
      position: absolute;
      top: 4px;
      right: 0px;
      width: 42px;
      height: 24px;
      border-left: 1px solid #bfbfbf;
    }

    .caret {
      @include sprite($arrow-down-black);
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      border: none;
      margin-top: 0px;

      &:before, &:after {
        display: none;
      }
    }
  }

  .dropdown-menu {
    margin: 0px 0px 0px;
    padding: 10px 0px 10px 0px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 0px;
    max-height: none !important;
    @media(max-width: $screen-xs){
      max-width: 100%;
    }

    li {
      margin-bottom: 0px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        //font-family: @AvenirNextW1G-Regular;
        outline: none;
        font-size: 17px;
        padding: 3px 16px;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 10px;
    left: 23px;
  }

  &__subway {
    .dropdown-toggle {
      .bootstrap-select__icon {
        display: none;
      }
    }

    .dropdown-menu {
      li {
        a {
          padding: 3px 40px;
        }
      }
    }
  }

  &.show-menu-arrow {
    .dropdown-toggle {
      &:before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
        bottom: -14px;
        left: 14px;
      }

      &:after {
        display: none !important;
      }
    }
  }

  &.open {
    .dropdown-toggle {
      background-color: white !important;
      box-shadow: none;
      //color: #bfbfbf !important;
      color: black !important;

      .bs-caret {
        transform: scale(-1);
        border-left: none;
        border-right: 1px solid #bfbfbf;
      }

      .caret {
        margin-left: -1px;
      }
    }
  }

  &.show-tick {
    .dropdown-menu {
      li {
        a {
          padding: 3px 19px 3px 41px;

          .check-mark {
            position: absolute;
            left: 16px;
            top: 6px;
            display: block !important;
            width: 16px;
            height: 16px;
            border-radius: 5px;
            margin: 0 !important;
            background-color: white;
            border: 1px solid rgba(151, 151, 151, 0.5);

            &:before {
              display: none;
            }
          }
        }

        &.selected {
          a {
            .check-mark {
              right: 16px;
              top: 6px;
              width: 16px;
              height: 16px;

              background-color: rgba(151, 151, 151, 0.5);
            }
          }
        }
      }
    }
  }
}

.bootstrap-datetimepicker-widget {
  padding: 0 !important;

  .btn { padding: 6px; }
}

.bootstrap-datetimepicker-widget a[data-action] { padding: 0px; width: 50px; }