
.slick-slider {
  .slick-arrow {
    //position: absolute;
    //transform: translate(0, -50%);
    //top: 50%;

    @media (max-width: $screen-sm) {
      width: 14px;
      height: 25px;
    }

    &.slick-prev {


      @media (max-width: 1100px) {

      }
      @media (max-width: $screen-xs) {

      }

      @media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all, not all {

      }
    }

    &.slick-next {


      @media (max-width: 1100px) {

      }
      @media (max-width: $screen-xs) {

      }

      @media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all, not all {

      }
    }
  }
}

.slider-mini {
  .slick-list {

  }

  img {

  }
}

.slider-many {
  padding: 0px 86px;

  @media(max-width: $screen-lg){
    padding: 0px 50px;
  }
  @media(max-width: 800px){
    padding: 0px 30px;
  }

  .slick-list {

  }

  .slick-arrow {
    position: absolute;
    top: 75px;
    //margin-top: -45px;
    width: 0;
    height: 0;
    border-style: solid;
    font-size: 0;
    background-color: transparent;

    &:hover {
      &:before {
        opacity: 1;
        transition: opacity .15s linear;
      }
    }

    &:before {
      content: '';
      opacity: -1;
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
      @include sprite($shadow);
    }

    &.slick-prev {
      left: 0;
      border-width: 45px 22px 45px 0;
      border-color: transparent rgba(0, 0, 0, 0.5) transparent transparent;

      @media(max-width: 500px){
        left: -15px;
      }

      &:before {
        left: 0;
      }
    }

    &.slick-next {
      right: 0;
      border-width: 45px 0px 45px 22px;
      border-color: transparent transparent transparent rgba(0, 0, 0, 0.5);

      @media(max-width: 500px){
        right: -15px;
      }

      &:before {
        right: 0;
        transform: scalex(-1);
        top: -60px;
      }
    }
  }

  .slick-slide {
    padding: 0px 22px;
    text-align: center;
  }
}