// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-down-black-name: 'arrow-down-black';
$arrow-down-black-x: 280px;
$arrow-down-black-y: 104px;
$arrow-down-black-offset-x: -280px;
$arrow-down-black-offset-y: -104px;
$arrow-down-black-width: 14px;
$arrow-down-black-height: 14px;
$arrow-down-black-total-width: 294px;
$arrow-down-black-total-height: 259px;
$arrow-down-black-image: '../img/sprite.png';
$arrow-down-black: (280px, 104px, -280px, -104px, 14px, 14px, 294px, 259px, '../img/sprite.png', 'arrow-down-black', );
$arrow-down-name: 'arrow-down';
$arrow-down-x: 179px;
$arrow-down-y: 180px;
$arrow-down-offset-x: -179px;
$arrow-down-offset-y: -180px;
$arrow-down-width: 24px;
$arrow-down-height: 24px;
$arrow-down-total-width: 294px;
$arrow-down-total-height: 259px;
$arrow-down-image: '../img/sprite.png';
$arrow-down: (179px, 180px, -179px, -180px, 24px, 24px, 294px, 259px, '../img/sprite.png', 'arrow-down', );
$at-name: 'at';
$at-x: 125px;
$at-y: 238px;
$at-offset-x: -125px;
$at-offset-y: -238px;
$at-width: 20px;
$at-height: 20px;
$at-total-width: 294px;
$at-total-height: 259px;
$at-image: '../img/sprite.png';
$at: (125px, 238px, -125px, -238px, 20px, 20px, 294px, 259px, '../img/sprite.png', 'at', );
$at2-name: 'at2';
$at2-x: 75px;
$at2-y: 238px;
$at2-offset-x: -75px;
$at2-offset-y: -238px;
$at2-width: 20px;
$at2-height: 20px;
$at2-total-width: 294px;
$at2-total-height: 259px;
$at2-image: '../img/sprite.png';
$at2: (75px, 238px, -75px, -238px, 20px, 20px, 294px, 259px, '../img/sprite.png', 'at2', );
$calendar-edit-name: 'calendar-edit';
$calendar-edit-x: 0px;
$calendar-edit-y: 238px;
$calendar-edit-offset-x: 0px;
$calendar-edit-offset-y: -238px;
$calendar-edit-width: 20px;
$calendar-edit-height: 21px;
$calendar-edit-total-width: 294px;
$calendar-edit-total-height: 259px;
$calendar-edit-image: '../img/sprite.png';
$calendar-edit: (0px, 238px, 0px, -238px, 20px, 21px, 294px, 259px, '../img/sprite.png', 'calendar-edit', );
$check-green-name: 'check-green';
$check-green-x: 66px;
$check-green-y: 0px;
$check-green-offset-x: -66px;
$check-green-offset-y: 0px;
$check-green-width: 54px;
$check-green-height: 54px;
$check-green-total-width: 294px;
$check-green-total-height: 259px;
$check-green-image: '../img/sprite.png';
$check-green: (66px, 0px, -66px, 0px, 54px, 54px, 294px, 259px, '../img/sprite.png', 'check-green', );
$check-name: 'check';
$check-x: 66px;
$check-y: 59px;
$check-offset-x: -66px;
$check-offset-y: -59px;
$check-width: 54px;
$check-height: 54px;
$check-total-width: 294px;
$check-total-height: 259px;
$check-image: '../img/sprite.png';
$check: (66px, 59px, -66px, -59px, 54px, 54px, 294px, 259px, '../img/sprite.png', 'check', );
$clock-grey-name: 'clock-grey';
$clock-grey-x: 100px;
$clock-grey-y: 238px;
$clock-grey-offset-x: -100px;
$clock-grey-offset-y: -238px;
$clock-grey-width: 20px;
$clock-grey-height: 20px;
$clock-grey-total-width: 294px;
$clock-grey-total-height: 259px;
$clock-grey-image: '../img/sprite.png';
$clock-grey: (100px, 238px, -100px, -238px, 20px, 20px, 294px, 259px, '../img/sprite.png', 'clock-grey', );
$clock-name: 'clock';
$clock-x: 25px;
$clock-y: 238px;
$clock-offset-x: -25px;
$clock-offset-y: -238px;
$clock-width: 20px;
$clock-height: 20px;
$clock-total-width: 294px;
$clock-total-height: 259px;
$clock-image: '../img/sprite.png';
$clock: (25px, 238px, -25px, -238px, 20px, 20px, 294px, 259px, '../img/sprite.png', 'clock', );
$dialog-green-name: 'dialog-green';
$dialog-green-x: 0px;
$dialog-green-y: 121px;
$dialog-green-offset-x: 0px;
$dialog-green-offset-y: -121px;
$dialog-green-width: 53px;
$dialog-green-height: 54px;
$dialog-green-total-width: 294px;
$dialog-green-total-height: 259px;
$dialog-green-image: '../img/sprite.png';
$dialog-green: (0px, 121px, 0px, -121px, 53px, 54px, 294px, 259px, '../img/sprite.png', 'dialog-green', );
$dialog-name: 'dialog';
$dialog-x: 58px;
$dialog-y: 121px;
$dialog-offset-x: -58px;
$dialog-offset-y: -121px;
$dialog-width: 53px;
$dialog-height: 54px;
$dialog-total-width: 294px;
$dialog-total-height: 259px;
$dialog-image: '../img/sprite.png';
$dialog: (58px, 121px, -58px, -121px, 53px, 54px, 294px, 259px, '../img/sprite.png', 'dialog', );
$like-green-name: 'like-green';
$like-green-x: 240px;
$like-green-y: 52px;
$like-green-offset-x: -240px;
$like-green-offset-y: -52px;
$like-green-width: 54px;
$like-green-height: 47px;
$like-green-total-width: 294px;
$like-green-total-height: 259px;
$like-green-image: '../img/sprite.png';
$like-green: (240px, 52px, -240px, -52px, 54px, 47px, 294px, 259px, '../img/sprite.png', 'like-green', );
$like-name: 'like';
$like-x: 240px;
$like-y: 0px;
$like-offset-x: -240px;
$like-offset-y: 0px;
$like-width: 54px;
$like-height: 47px;
$like-total-width: 294px;
$like-total-height: 259px;
$like-image: '../img/sprite.png';
$like: (240px, 0px, -240px, 0px, 54px, 47px, 294px, 259px, '../img/sprite.png', 'like', );
$location-name: 'location';
$location-x: 50px;
$location-y: 238px;
$location-offset-x: -50px;
$location-offset-y: -238px;
$location-width: 20px;
$location-height: 20px;
$location-total-width: 294px;
$location-total-height: 259px;
$location-image: '../img/sprite.png';
$location: (50px, 238px, -50px, -238px, 20px, 20px, 294px, 259px, '../img/sprite.png', 'location', );
$location2-green-name: 'location2-green';
$location2-green-x: 184px;
$location2-green-y: 120px;
$location2-green-offset-x: -184px;
$location2-green-offset-y: -120px;
$location2-green-width: 50px;
$location2-green-height: 54px;
$location2-green-total-width: 294px;
$location2-green-total-height: 259px;
$location2-green-image: '../img/sprite.png';
$location2-green: (184px, 120px, -184px, -120px, 50px, 54px, 294px, 259px, '../img/sprite.png', 'location2-green', );
$location2-name: 'location2';
$location2-x: 116px;
$location2-y: 121px;
$location2-offset-x: -116px;
$location2-offset-y: -121px;
$location2-width: 50px;
$location2-height: 54px;
$location2-total-width: 294px;
$location2-total-height: 259px;
$location2-image: '../img/sprite.png';
$location2: (116px, 121px, -116px, -121px, 50px, 54px, 294px, 259px, '../img/sprite.png', 'location2', );
$phone-classic-name: 'phone-classic';
$phone-classic-x: 208px;
$phone-classic-y: 180px;
$phone-classic-offset-x: -208px;
$phone-classic-offset-y: -180px;
$phone-classic-width: 24px;
$phone-classic-height: 19px;
$phone-classic-total-width: 294px;
$phone-classic-total-height: 259px;
$phone-classic-image: '../img/sprite.png';
$phone-classic: (208px, 180px, -208px, -180px, 24px, 19px, 294px, 259px, '../img/sprite.png', 'phone-classic', );
$pointer-name: 'pointer';
$pointer-x: 280px;
$pointer-y: 123px;
$pointer-offset-x: -280px;
$pointer-offset-y: -123px;
$pointer-width: 12px;
$pointer-height: 10px;
$pointer-total-width: 294px;
$pointer-total-height: 259px;
$pointer-image: '../img/sprite.png';
$pointer: (280px, 123px, -280px, -123px, 12px, 10px, 294px, 259px, '../img/sprite.png', 'pointer', );
$profile-green-name: 'profile-green';
$profile-green-x: 125px;
$profile-green-y: 59px;
$profile-green-offset-x: -125px;
$profile-green-offset-y: -59px;
$profile-green-width: 54px;
$profile-green-height: 54px;
$profile-green-total-width: 294px;
$profile-green-total-height: 259px;
$profile-green-image: '../img/sprite.png';
$profile-green: (125px, 59px, -125px, -59px, 54px, 54px, 294px, 259px, '../img/sprite.png', 'profile-green', );
$profile-name: 'profile';
$profile-x: 125px;
$profile-y: 0px;
$profile-offset-x: -125px;
$profile-offset-y: 0px;
$profile-width: 54px;
$profile-height: 54px;
$profile-total-width: 294px;
$profile-total-height: 259px;
$profile-image: '../img/sprite.png';
$profile: (125px, 0px, -125px, 0px, 54px, 54px, 294px, 259px, '../img/sprite.png', 'profile', );
$profile2-green-name: 'profile2-green';
$profile2-green-x: 55px;
$profile2-green-y: 180px;
$profile2-green-offset-x: -55px;
$profile2-green-offset-y: -180px;
$profile2-green-width: 57px;
$profile2-green-height: 45px;
$profile2-green-total-width: 294px;
$profile2-green-total-height: 259px;
$profile2-green-image: '../img/sprite.png';
$profile2-green: (55px, 180px, -55px, -180px, 57px, 45px, 294px, 259px, '../img/sprite.png', 'profile2-green', );
$profile2-name: 'profile2';
$profile2-x: 117px;
$profile2-y: 180px;
$profile2-offset-x: -117px;
$profile2-offset-y: -180px;
$profile2-width: 57px;
$profile2-height: 45px;
$profile2-total-width: 294px;
$profile2-total-height: 259px;
$profile2-image: '../img/sprite.png';
$profile2: (117px, 180px, -117px, -180px, 57px, 45px, 294px, 259px, '../img/sprite.png', 'profile2', );
$shadow-name: 'shadow';
$shadow-x: 0px;
$shadow-y: 0px;
$shadow-offset-x: 0px;
$shadow-offset-y: 0px;
$shadow-width: 61px;
$shadow-height: 116px;
$shadow-total-width: 294px;
$shadow-total-height: 259px;
$shadow-image: '../img/sprite.png';
$shadow: (0px, 0px, 0px, 0px, 61px, 116px, 294px, 259px, '../img/sprite.png', 'shadow', );
$social-fb-grey-name: 'social-fb-grey';
$social-fb-grey-x: 240px;
$social-fb-grey-y: 184px;
$social-fb-grey-offset-x: -240px;
$social-fb-grey-offset-y: -184px;
$social-fb-grey-width: 35px;
$social-fb-grey-height: 35px;
$social-fb-grey-total-width: 294px;
$social-fb-grey-total-height: 259px;
$social-fb-grey-image: '../img/sprite.png';
$social-fb-grey: (240px, 184px, -240px, -184px, 35px, 35px, 294px, 259px, '../img/sprite.png', 'social-fb-grey', );
$social-fb-name: 'social-fb';
$social-fb-x: 184px;
$social-fb-y: 0px;
$social-fb-offset-x: -184px;
$social-fb-offset-y: 0px;
$social-fb-width: 51px;
$social-fb-height: 55px;
$social-fb-total-width: 294px;
$social-fb-total-height: 259px;
$social-fb-image: '../img/sprite.png';
$social-fb: (184px, 0px, -184px, 0px, 51px, 55px, 294px, 259px, '../img/sprite.png', 'social-fb', );
$social-inst-grey-name: 'social-inst-grey';
$social-inst-grey-x: 240px;
$social-inst-grey-y: 144px;
$social-inst-grey-offset-x: -240px;
$social-inst-grey-offset-y: -144px;
$social-inst-grey-width: 35px;
$social-inst-grey-height: 35px;
$social-inst-grey-total-width: 294px;
$social-inst-grey-total-height: 259px;
$social-inst-grey-image: '../img/sprite.png';
$social-inst-grey: (240px, 144px, -240px, -144px, 35px, 35px, 294px, 259px, '../img/sprite.png', 'social-inst-grey', );
$social-inst-name: 'social-inst';
$social-inst-x: 0px;
$social-inst-y: 180px;
$social-inst-offset-x: 0px;
$social-inst-offset-y: -180px;
$social-inst-width: 50px;
$social-inst-height: 53px;
$social-inst-total-width: 294px;
$social-inst-total-height: 259px;
$social-inst-image: '../img/sprite.png';
$social-inst: (0px, 180px, 0px, -180px, 50px, 53px, 294px, 259px, '../img/sprite.png', 'social-inst', );
$social-vk-grey-name: 'social-vk-grey';
$social-vk-grey-x: 240px;
$social-vk-grey-y: 104px;
$social-vk-grey-offset-x: -240px;
$social-vk-grey-offset-y: -104px;
$social-vk-grey-width: 35px;
$social-vk-grey-height: 35px;
$social-vk-grey-total-width: 294px;
$social-vk-grey-total-height: 259px;
$social-vk-grey-image: '../img/sprite.png';
$social-vk-grey: (240px, 104px, -240px, -104px, 35px, 35px, 294px, 259px, '../img/sprite.png', 'social-vk-grey', );
$social-vk-name: 'social-vk';
$social-vk-x: 184px;
$social-vk-y: 60px;
$social-vk-offset-x: -184px;
$social-vk-offset-y: -60px;
$social-vk-width: 51px;
$social-vk-height: 55px;
$social-vk-total-width: 294px;
$social-vk-total-height: 259px;
$social-vk-image: '../img/sprite.png';
$social-vk: (184px, 60px, -184px, -60px, 51px, 55px, 294px, 259px, '../img/sprite.png', 'social-vk', );
$subway-name: 'subway';
$subway-x: 179px;
$subway-y: 209px;
$subway-offset-x: -179px;
$subway-offset-y: -209px;
$subway-width: 24px;
$subway-height: 16px;
$subway-total-width: 294px;
$subway-total-height: 259px;
$subway-image: '../img/sprite.png';
$subway: (179px, 209px, -179px, -209px, 24px, 16px, 294px, 259px, '../img/sprite.png', 'subway', );
$spritesheet-width: 294px;
$spritesheet-height: 259px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($arrow-down-black, $arrow-down, $at, $at2, $calendar-edit, $check-green, $check, $clock-grey, $clock, $dialog-green, $dialog, $like-green, $like, $location, $location2-green, $location2, $phone-classic, $pointer, $profile-green, $profile, $profile2-green, $profile2, $shadow, $social-fb-grey, $social-fb, $social-inst-grey, $social-inst, $social-vk-grey, $social-vk, $subway, );
$spritesheet: (294px, 259px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
