// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$at-name: 'at';
$at-x: 242px;
$at-y: 25px;
$at-offset-x: -242px;
$at-offset-y: -25px;
$at-width: 20px;
$at-height: 20px;
$at-total-width: 262px;
$at-total-height: 216px;
$at-image: '../img/sprite.png';
$at: (242px, 25px, -242px, -25px, 20px, 20px, 262px, 216px, '../img/sprite.png', 'at', );
$at2-name: 'at2';
$at2-x: 242px;
$at2-y: 75px;
$at2-offset-x: -242px;
$at2-offset-y: -75px;
$at2-width: 20px;
$at2-height: 20px;
$at2-total-width: 262px;
$at2-total-height: 216px;
$at2-image: '../img/sprite.png';
$at2: (242px, 75px, -242px, -75px, 20px, 20px, 262px, 216px, '../img/sprite.png', 'at2', );
$check-name: 'check';
$check-x: 66px;
$check-y: 59px;
$check-offset-x: -66px;
$check-offset-y: -59px;
$check-width: 54px;
$check-height: 54px;
$check-total-width: 262px;
$check-total-height: 216px;
$check-image: '../img/sprite.png';
$check: (66px, 59px, -66px, -59px, 54px, 54px, 262px, 216px, '../img/sprite.png', 'check', );
$clock-name: 'clock';
$clock-x: 242px;
$clock-y: 50px;
$clock-offset-x: -242px;
$clock-offset-y: -50px;
$clock-width: 20px;
$clock-height: 20px;
$clock-total-width: 262px;
$clock-total-height: 216px;
$clock-image: '../img/sprite.png';
$clock: (242px, 50px, -242px, -50px, 20px, 20px, 262px, 216px, '../img/sprite.png', 'clock', );
$dialog-name: 'dialog';
$dialog-x: 125px;
$dialog-y: 0px;
$dialog-offset-x: -125px;
$dialog-offset-y: 0px;
$dialog-width: 53px;
$dialog-height: 54px;
$dialog-total-width: 262px;
$dialog-total-height: 216px;
$dialog-image: '../img/sprite.png';
$dialog: (125px, 0px, -125px, 0px, 53px, 54px, 262px, 216px, '../img/sprite.png', 'dialog', );
$like-name: 'like';
$like-x: 183px;
$like-y: 0px;
$like-offset-x: -183px;
$like-offset-y: 0px;
$like-width: 54px;
$like-height: 47px;
$like-total-width: 262px;
$like-total-height: 216px;
$like-image: '../img/sprite.png';
$like: (183px, 0px, -183px, 0px, 54px, 47px, 262px, 216px, '../img/sprite.png', 'like', );
$location-name: 'location';
$location-x: 242px;
$location-y: 0px;
$location-offset-x: -242px;
$location-offset-y: 0px;
$location-width: 20px;
$location-height: 20px;
$location-total-width: 262px;
$location-total-height: 216px;
$location-image: '../img/sprite.png';
$location: (242px, 0px, -242px, 0px, 20px, 20px, 262px, 216px, '../img/sprite.png', 'location', );
$location2-name: 'location2';
$location2-x: 56px;
$location2-y: 121px;
$location2-offset-x: -56px;
$location2-offset-y: -121px;
$location2-width: 50px;
$location2-height: 54px;
$location2-total-width: 262px;
$location2-total-height: 216px;
$location2-image: '../img/sprite.png';
$location2: (56px, 121px, -56px, -121px, 50px, 54px, 262px, 216px, '../img/sprite.png', 'location2', );
$phone-classic-name: 'phone-classic';
$phone-classic-x: 39px;
$phone-classic-y: 181px;
$phone-classic-offset-x: -39px;
$phone-classic-offset-y: -181px;
$phone-classic-width: 24px;
$phone-classic-height: 19px;
$phone-classic-total-width: 262px;
$phone-classic-total-height: 216px;
$phone-classic-image: '../img/sprite.png';
$phone-classic: (39px, 181px, -39px, -181px, 24px, 19px, 262px, 216px, '../img/sprite.png', 'phone-classic', );
$profile-name: 'profile';
$profile-x: 66px;
$profile-y: 0px;
$profile-offset-x: -66px;
$profile-offset-y: 0px;
$profile-width: 54px;
$profile-height: 54px;
$profile-total-width: 262px;
$profile-total-height: 216px;
$profile-image: '../img/sprite.png';
$profile: (66px, 0px, -66px, 0px, 54px, 54px, 262px, 216px, '../img/sprite.png', 'profile', );
$profile2-name: 'profile2';
$profile2-x: 0px;
$profile2-y: 181px;
$profile2-offset-x: 0px;
$profile2-offset-y: -181px;
$profile2-width: 34px;
$profile2-height: 35px;
$profile2-total-width: 262px;
$profile2-total-height: 216px;
$profile2-image: '../img/sprite.png';
$profile2: (0px, 181px, 0px, -181px, 34px, 35px, 262px, 216px, '../img/sprite.png', 'profile2', );
$shadow-name: 'shadow';
$shadow-x: 0px;
$shadow-y: 0px;
$shadow-offset-x: 0px;
$shadow-offset-y: 0px;
$shadow-width: 61px;
$shadow-height: 116px;
$shadow-total-width: 262px;
$shadow-total-height: 216px;
$shadow-image: '../img/sprite.png';
$shadow: (0px, 0px, 0px, 0px, 61px, 116px, 262px, 216px, '../img/sprite.png', 'shadow', );
$social-fb-grey-name: 'social-fb-grey';
$social-fb-grey-x: 183px;
$social-fb-grey-y: 132px;
$social-fb-grey-offset-x: -183px;
$social-fb-grey-offset-y: -132px;
$social-fb-grey-width: 35px;
$social-fb-grey-height: 35px;
$social-fb-grey-total-width: 262px;
$social-fb-grey-total-height: 216px;
$social-fb-grey-image: '../img/sprite.png';
$social-fb-grey: (183px, 132px, -183px, -132px, 35px, 35px, 262px, 216px, '../img/sprite.png', 'social-fb-grey', );
$social-fb-name: 'social-fb';
$social-fb-x: 0px;
$social-fb-y: 121px;
$social-fb-offset-x: 0px;
$social-fb-offset-y: -121px;
$social-fb-width: 51px;
$social-fb-height: 55px;
$social-fb-total-width: 262px;
$social-fb-total-height: 216px;
$social-fb-image: '../img/sprite.png';
$social-fb: (0px, 121px, 0px, -121px, 51px, 55px, 262px, 216px, '../img/sprite.png', 'social-fb', );
$social-inst-grey-name: 'social-inst-grey';
$social-inst-grey-x: 183px;
$social-inst-grey-y: 52px;
$social-inst-grey-offset-x: -183px;
$social-inst-grey-offset-y: -52px;
$social-inst-grey-width: 35px;
$social-inst-grey-height: 35px;
$social-inst-grey-total-width: 262px;
$social-inst-grey-total-height: 216px;
$social-inst-grey-image: '../img/sprite.png';
$social-inst-grey: (183px, 52px, -183px, -52px, 35px, 35px, 262px, 216px, '../img/sprite.png', 'social-inst-grey', );
$social-inst-name: 'social-inst';
$social-inst-x: 111px;
$social-inst-y: 121px;
$social-inst-offset-x: -111px;
$social-inst-offset-y: -121px;
$social-inst-width: 50px;
$social-inst-height: 53px;
$social-inst-total-width: 262px;
$social-inst-total-height: 216px;
$social-inst-image: '../img/sprite.png';
$social-inst: (111px, 121px, -111px, -121px, 50px, 53px, 262px, 216px, '../img/sprite.png', 'social-inst', );
$social-vk-grey-name: 'social-vk-grey';
$social-vk-grey-x: 183px;
$social-vk-grey-y: 92px;
$social-vk-grey-offset-x: -183px;
$social-vk-grey-offset-y: -92px;
$social-vk-grey-width: 35px;
$social-vk-grey-height: 35px;
$social-vk-grey-total-width: 262px;
$social-vk-grey-total-height: 216px;
$social-vk-grey-image: '../img/sprite.png';
$social-vk-grey: (183px, 92px, -183px, -92px, 35px, 35px, 262px, 216px, '../img/sprite.png', 'social-vk-grey', );
$social-vk-name: 'social-vk';
$social-vk-x: 125px;
$social-vk-y: 59px;
$social-vk-offset-x: -125px;
$social-vk-offset-y: -59px;
$social-vk-width: 51px;
$social-vk-height: 55px;
$social-vk-total-width: 262px;
$social-vk-total-height: 216px;
$social-vk-image: '../img/sprite.png';
$social-vk: (125px, 59px, -125px, -59px, 51px, 55px, 262px, 216px, '../img/sprite.png', 'social-vk', );
$subway-name: 'subway';
$subway-x: 68px;
$subway-y: 181px;
$subway-offset-x: -68px;
$subway-offset-y: -181px;
$subway-width: 24px;
$subway-height: 16px;
$subway-total-width: 262px;
$subway-total-height: 216px;
$subway-image: '../img/sprite.png';
$subway: (68px, 181px, -68px, -181px, 24px, 16px, 262px, 216px, '../img/sprite.png', 'subway', );
$spritesheet-width: 262px;
$spritesheet-height: 216px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($at, $at2, $check, $clock, $dialog, $like, $location, $location2, $phone-classic, $profile, $profile2, $shadow, $social-fb-grey, $social-fb, $social-inst-grey, $social-inst, $social-vk-grey, $social-vk, $subway, );
$spritesheet: (262px, 216px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
